body {
    background-image: linear-gradient(45deg, #3d608b, #76a3db);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bradley_container {
    background-color: transparent;
    width: 300px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border: 10px #33abaf solid;
    position: relative;
    border-radius: 160px;
    transition: 0.5s ease-in-out;
}

.bradley_container:hover {
    background: linear-gradient(310deg, #39babe, #7fdad2);
    border-radius: 0px;
    transition: 0.5s;
    transition-duration: 0.5s;
}

.bradley_container:hover .bradley_image {
    transition-duration: 0.5s;
    transform: translateY(-60%);
    border-radius: 30px;
}

.bradley_image {
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px white solid;
    border-radius: 150px;
    position: relative;
    top: 13px;
    opacity: 1;
    transition: 0.5s cubic-bezier(0.7, 0.34, 0.61, 1.43);
    z-index: 1;
    
}

.name_header {
    font-family: 'Permanent Marker';
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 15px;
    position: relative;
    top: -145px;
    opacity: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: 0.5s ease-in;
}

.bradley_container:hover .name_header {
    transition-duration: 0.5s;
    transition-delay: 0.35s;
    opacity: 1;
}

.hot_links {
    /* background-color: red; */
    transform: scale(.8);
    display: block;
    width: 204px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -155px;
    opacity: 0;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-duration: 0.25;
}

.social_logos {
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.5s;
}

.social_logos:hover {
    /* background-color: red; */
    transform: scale(1.2);
}

.bradley_container:hover .hot_links {
    transition-delay: 0.7s;
    transition-duration: 0.5s;
    opacity: 1;
}