body {
    background-image: linear-gradient(90deg, #3d608b, #76a3db);
}

#bradley_container {
    /* background: linear-gradient(310deg, #39babe, #7fdad2); */
    width: 300px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border: 10px #33abaf solid;
    border-radius: 0px;
    position: relative;
    border-radius: 60px;
    transition-duration: 0.5s backwards;
}

#bradley_container:hover {
    background: linear-gradient(310deg, #39babe, #7fdad2);
    width: 300px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border: 10px #33abaf solid;
    border-radius: 0px;
    opacity: 1;
    transition-duration: border-radius 2s;
    
}

#bradley_container:hover #bradley_image {
    /* top: -130px; */
    transition-duration: 0.5s;
    transform: translateY(-60%);
}

#bradley_image {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px white solid;
    border-radius: 40px;
    position: relative;
    top: 20px;
    opacity: 1;
    
    /* top: -130px */
}

#name_header {
    font-family: 'Permanent Marker';
    font-weight: 100;
    color: white;
    text-align: center;
    line-height: 15px;
    position: relative;
    top: -125px;
    opacity: 0;
}

#bradley_container:hover #name_header {
    opacity: 1;
}

#hot_links {
    /* background-color: red; */
    display: block;
    filter: invert(1);
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -120px;
    opacity: 0;
}

#bradley_container:hover #hot_links {
    opacity: 1;
}