body {
    background-image: linear-gradient(90deg, #3d608b, #76a3db);
}

#everything {
    margin-top: 370px;
}

#bradley_container {
    width: 350px;
    height: 350px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.5s;
}

#bradley_container:hover {
    border: 5px white solid;
    border-radius: 10px
}

#bradley_image {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px white solid;
    border-radius: 150px;
    transition-duration: 0.5s;
}

#bradley_container:hover #bradley_image {
    border-radius: 50px;
    transform: translateY(-50%);
}

#name_header {
    font-weight: 100;
}

#name_job {
    text-align: center;
    font-family: "Permanent Marker";
    font-weight: 100;
    color: white;
    opacity: 0;
    margin-top: -500;
    transition-duration: 0.5s ;
    transform: translateY(-126px);
}

#bradley_container:hover #name_job {
    opacity: 1;
}

#hot_links {
    width: 108px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: invert(1);
    opacity: 0;
    transform: translateY(-120px);
    transition-duration: 1s;
}

#bradley_container:hover #hot_links {
    opacity: 1;
}

#social_logos {
    padding-left: 10px;
    padding-right: 10px;
}